#root, body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.App{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url("../Images/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* filter: blur(0px);
    -webkit-filter: blur(3px); */
}

@media screen and (max-width:380px){
    .App{
        background-position: -311px 0px;
    }
}