/* #music{
    background-color: red;
    height: 10%;
    width: 90%;
} */
#home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}
#search-bar{
    margin-top: 1px;
    height: 7%;
    width: 60%;
    border-radius: 15px;
    font-size: medium;
}
#all-songs-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 80%;
    overflow-y: scroll;
}
.current-song-div{
    background-color: red;
    color: white;
    display:flex;
    justify-content: space-between;
    height: auto;
    padding: 2% 3%;
    font-size: large;
    margin-bottom: 2px;
    border: 1px solid purple;
    width: 50%;
}
.song-div{
    color: white;
    display:flex;
    justify-content: space-between;
    height: auto;
    padding: 2% 3%;
    font-size: large;
    margin-bottom: 2px;
    border: 1px solid purple;
    width: 50%;
    /* background-color: blue; */

}
#current-song-div{
    background-color: aquamarine;
    height: 10%;
    width: 100%;
    color: black;
}

#seekbar{
    width:100%;
    height: 2px;
    background-color: white;
}
#circle{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: red;
}