/* #music{
    background-color: red;
    height: 10%;
    width: 90%;
} */
#home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}
#search-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    width: 65%;
    justify-content: space-evenly;
    margin-top: 5px;
}
#search-div button{
    font-size: large;
    height: 100%;
    width: 50%;
    background-color: #ffebcd12;
    color: white;
}
#search-bar{
    margin-top: 5px;
    margin-bottom: 3px;
    height: 100%;
    width: 80%;
    border-radius: 15px;
    font-size: medium;
    font-family: cursive;
    background-color: #14273d8c;
    padding: 0px 10px;
    color: white;
}
::-webkit-scrollbar {
    display: none;
}
#all-songs-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 80%;
    overflow-y: scroll;
}

.setting-div{
    /* border: 1px solid white; */
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    background-color: #790dcf00;
    padding: 0px 5px;
}
.setting-div:hover{
    background-color: #0d081099;
    cursor: pointer;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.song-name-div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:90%;
}
.current-song-div{
    box-shadow: 0px 0px 20px 4px #3e3791;
    background-color: #070c14c2;
    color: white;
    display:flex;
    justify-content: space-between;
    font-variant: small-caps;
    height: auto;
    padding: 2% 3%;
    font-size: large;
    border: 1px solid #f9f7f9;
    border-radius: 5px;
    width: 65%;
    margin-bottom: 5px;
}
.current-song-div:hover{
    cursor: pointer;
}
.song-div{
    box-shadow: 0px 0px 20px 4px #3e3791;
    word-wrap: calc(4);
    color: white;
    display:flex;
    justify-content: space-between;
    height: auto;
    padding: 2% 3%;
    font-size: large;
    border: 1px solid #d9c7d9fc;
    border-radius: 5px;
    width: 60%;
    font-variant: small-caps;
    background-color: #111131a3;
    margin-bottom: 5px;
    /* background-color: blue; */

}

.song-div:hover{
    background-color:#09091abf;
    cursor:pointer;
}
#current-song-div{
    background-color: #172d414f;
    font-family: cursive;
    height: 10%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}
#current-song-div:hover{
    cursor:pointer;
}

#seekbar{
    margin: 0px;
    width:100%;
    height: 2px;
    background-color: white;
    accent-color: #53438d;
}
#seekbar:hover{
    cursor:pointer;
}

#song-details{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#song-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    margin-left: 5%;
}

.play-pause-btn, .change-song-btn{
    height: auto;
    width: auto;
    margin: 0px 15px;
}
/* .change-song-btn{
    height: auto;
    width: auto;
} */

#song-controls{
    width: 50%;
    display: flex;
    justify-content: center;
    /* word-spacing: 20px; */
    font-size: x-large;
}
#song-controls:hover{
    cursor:pointer;
}

@media screen and (max-width:468px){
    #search-bar{
        width: 75%;
        font-size:medium;
    }
    
    #search-div{
        /* flex-direction: column; */
        /* height: 5%; */
        width: 90%;
    }

    #song-controls{
        font-size:large;
    }

    #all-song-div{
        width: 90%;
    }

    #song-name{
        font-size:small;
    }

    .current-song-div:hover{
        cursor: none;
    }

    .song-div{
        padding: 4% 3%;
        width : 90%;
        font-size: medium;
    }
    .current-song-div{
        padding: 4% 3%;
        width : 92%;
        font-size: medium;
    }
    #song-controls:hover{
        cursor:none;
    }
    .outer-song-div{
        width: 90%;
    }
}