#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #091f41b5;
    color: white;
    height: 10%;
    width: 100%;
}
#brand-name-div{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    cursor: pointer;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: cursive;
    font-size: large;
}
#brand-name-div img{
    width: 40%;
    height: 80%;
    padding: 0px 5px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    font-family: serif;
    font-variant: petite-caps;
    font-size: large;
    font-weight: 400;
    width: 40%;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}
#navbar ul li{
    padding:0px 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
#navbar ul li:hover{
    cursor:pointer;
}

.navlinkactive{
    background-color:#00000061;
}

@media screen and (max-width:670px){
    #navbar ul{
       width: 60%;
    }
    #brand-name-div{
        width: 40%;
    }
    #brand-name-div img{
        width: 40%;
    }
   }

@media screen and (max-width:380px){
    #navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #navbar ul{
        width: 80%;
        height: 100%;
    }
    #navbar ul li{
        font-size:smaller;
        padding:0px 3px;
        font-weight:bold;
    }
    #brand-name-div{
        justify-content: space-evenly;
        width: 50%;
        height: 50%;
        font-size: medium;
    }
    #brand-name-div img{
        width: 30%;
        height: 80%;
    }
}

